body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.game {
    display: flex;
    min-height : 100vh;
}

.actions,
.store {
    padding: 1rem;
    flex-basis: 50%;
}

.store {
    background-color:#3d4145;
    text-align: center;
    color: #fff;
}

.actions {
    .ram-click {
        width: 200px;

        &:hover {
            @media screen and (min-width: 1200px) {
                cursor: pointer;
            }
        }
    
        img {
            width: 100%;
        }
    }
}
