body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.game {
  display: flex;
  min-height: 100vh;
}

.actions,
.store {
  padding: 1rem;
  flex-basis: 50%;
}

.actions {
  .ram-click {
    width: 200px;

    &:hover {
      @media screen and (min-width: 1200px) {
        cursor: pointer;
      }
    }

    img {
      width: 100%;
    }
  }
}

.upgrade-inactive {
  background-color: gray;
}

.upgrade-active {
  background-color: green;
}

.store {
  display: flex;
  flex-direction: column;
  background-color: #3d4145;
  text-align: center;
  color: #fff;

  .upgrades {
    button {
      @media screen and (min-width: 1200px) {
        cursor: pointer;
      }
    }
  }
}

.inactive {
  display: none;
}
