@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Rationale', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.game {
  display: flex;
  min-height: 100vh;
}

.actions,
.store {
  padding: 1rem;
  flex-basis: 50%;
}

.actions {
  .ram-click {
    width: 200px;

    &:hover {
      @media screen and (min-width: 1200px) {
        cursor: pointer;
      }
    }

    img {
      width: 100%;
    }
  }
}

.upgrade {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #272423;
}

.upgrade-btn {
  width: 80pxpx;
  padding: 1rem;
  border: none;
  background-color: #fefefe;
  color: #272423;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}

.upgrade-inactive {
  color: #a8a8a4;
  background-color: #dbdcd7;
}

.upgrade-active {
  color: #fefefe;
  box-shadow: 1px 2px 0 0 #e7683b;
  background-color: #edba84;
}

.upgrade-cost{
  font-size: 1.25rem;
  font-weight: bold;
}

.store {
  display: flex;
  flex-direction: column;
  background-color: #3d4145;
  text-align: center;
  color: #fff;

  .title {
    margin-top: 0;
    font-size: 3rem;
  }

  .subtitle {
    margin: 0;
  }

  .upgrades {
    margin-top: .5rem;
    .upgrade-active {
      @media screen and (min-width: 1200px) {
        cursor: pointer;
      }
    }
  }
}
